@model SearchViewModel
@{
    ViewData["Title"] = "Study Search";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]
<!-- Page list-of-quotes -->
<div class="container px-4 py-4" id="list-of-quotes">
    <h2 class="pb-2 border-bottom">List of famous quotes</h2>
    <p>Below are some famous quotes about love, work and the fact that tomorrow is another day. Select one that your friend likes.</p>

    <div class="row mb-1 text-center">
        <div class="col-md-8 ">
            <form class="d-flex mt-3 mt-lg-0" method="post">

                <input asp-for="SearchFilter" value="@Model.SearchFilter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button asp-controller="Model" asp-action="Find" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    @foreach (var item in Model.Quotes)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @item.Quote
                <div class="col-md-16  text-end">@item.Author</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="~/Studies/Model/ModelView?id=@item.QuoteId" class="btn btn-success btn-sm" type="button">View</a>
            </div>
        </div>
    }
    <nav aria-label="Standard pagination example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="~/Model/Search?pagenr=@Model.PrevPageNr&search=@Model.SearchFilter" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < Model.PresentPages; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="~/Model/Search?pagenr=@i&search=@Model.SearchFilter">@(i+1)</a>
                </li>

            }
            <li class="page-item">
                <a class="page-link" href="~/Model/Search?pagenr=@Model.NextPageNr&search=@Model.SearchFilter" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- inital template that can be easily hidden -->
    <div class="d-none">
        <h2 class="pb-2 border-bottom">TEMPLATE</h2>
        <div class="row mb-1 text-center">
            <div class="col-md-8 ">
                <form class="d-flex mt-3 mt-lg-0" role="search" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                Before you marry a person, you should first make them use a computer with slow Internet to see who they really are.
                <div class="col-md-16  text-end">Will Ferrell</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="#" class="btn btn-success btn-sm" type="button">View</a>
            </div>
        </div>
        <nav aria-label="Standard pagination example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#list-of-quotes" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#list-of-quotes">1</a></li>
                <li class="page-item"><a class="page-link" href="#list-of-quotes">2</a></li>
                <li class="page-item"><a class="page-link" href="#list-of-quotes">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#list-of-quotes" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>



